.counter {
  font-size: 2em;
}

.counter0 {
  composes: counter;
  color: #007100;
}

.counter1 {
  composes: counter;
  color: #439a00;
}

.counter2 {
  composes: counter;
  color: #8ab500;
}

.counter3 {
  composes: counter;
  color: #c5c100;
}

.counter4 {
  composes: counter;
  color: #e29e00;
}

.counter5 {
  composes: counter;
  color: #e23e00;
}
